.buyButton {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    background-color: #ff813f;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 0.5rem;
    font-size: 1rem;
    letter-spacing: 0.6px;
    box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5);
    font-family: 'Caveat';
    font-weight: 700;
}

.coffeeImage {
    height: 2vh;
    box-shadow: none;
    border: none;
    vertical-align: middle;
}

.coffeeButtonText {
    margin-left: 8px;
    font-size: 1rem;
    vertical-align: middle;
}