.topContainer {
  text-align: center;
}

.appTitle {
  color: orange;
  font-size: 4rem;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 900;
}

.mainContainer {
  margin-top: 60px;
  text-align: center;
}

.imageLoaderContainer {
  position: absolute;
  margin-top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.apiText {
  color: black;
  font-family: 'Edu SA Beginner', sans-serif;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 40px;
}